/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 20px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
  font-style: normal;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*---------header-----------*/
:root {
  --primary-color: #cd6326;
  --light-color: #f7f7f7;
  --darck-grey-color: #333333;
  --light-gray-color: #666666;
  --hover-orange-color: #e39128;
  --primary-background-color: #02160b;
  --secondary-background-color: #cccccc;
  --third-background-color: #181617;
}

body {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.6;
  color: var(--light-color);
  background-color: #2c2d2f;
}
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}
.main {
  flex: 1 1 auto;
}
.header {
  z-index: 2;
}
.header_container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.logo {
  display: flex;
}

.logo_img {
  width: 68px;
  height: 58px;
  fill: #ffffff;
  margin-right: 16px;
}
.serach_img {
  width: 24px;
  height: 24px;
  fill: #ffffff;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo_txt {
  font-family: "Roboto", sans-serif;
  color: var(--light-color);
  text-transform: uppercase;
  font-size: 32px;
  line-height: 60px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo:hover .logo_txt,
.logo:hover .logo_img {
  color: var(--primary-color);
  fill: var(--primary-color);
}

.header_navigation {
}

.header_navigation_list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header_navigation_item {
  cursor: pointer;
}

.serach_img {
  fill: #ffffff;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.serach_img:hover {
  fill: var(--primary-color);
}

.header_navigation_item a {
  color: var(--light-color);
  font-size: 23px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    text-decoration 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header_navigation_item a:hover {
  text-decoration: underline;
  color: var(--primary-color);
}

.header_navigation_item:not(:last-child) {
  margin-right: 65px;
}

.header_button {
  padding: 12px 23px;
  border: 2px solid var(--primary-color);
  background-color: initial;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header_button:hover {
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
}

.button {
  font-family: "Roboto", sans-serif;
  font-size: 23px;
  line-height: 27px;
  color: var(--light-color);
  cursor: pointer;
  border-radius: 5px;
}
/*---------header media-----------*/

@media (max-width: 767.98px) {
  .header_navigation_item:not(:last-child) {
    margin-right: 25px;
  }
  .logo_txt {
    font-size: 23px;
  }
}

@media (max-width: 610px) {
  .logo_txt {
    display: none;
  }
}

@media (max-width: 479px) {
  .header_navigation_item:not(:last-child) {
    margin-right: 15px;
  }
  .header_navigation_list {
    flex-wrap: wrap;
  }
  .header_navigation_item a {
    font-size: 12px;
  }
  .button {
    font-size: 12px;
  }
  .header_button {
    padding: 4px 13px;
  }
  .header_logo {
    display: flex;
    height: 40px;
  }
}

/*---------survival hero-----------*/
.survival {
  background: url(./assets/herobg.jpg) no-repeat center center;
  background-size: cover;
  height: 780px;
  margin-top: -80px;
  padding-top: 200px;
}
.survival_container {
  display: flex;
  flex-direction: column;
}
.survival_title {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 72px;
  letter-spacing: 2px;
  color: var(--primary-color);
  margin-bottom: 50px;
}
.survival_txt {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: var(--light-color);
  max-width: 274px;
  margin-bottom: 50px;
}
.survival_button {
  background-color: var(--primary-color);
  padding: 16px 42px;
  max-width: 160px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.survival_button:hover {
  background-color: var(--hover-orange-color);
}

/*---------survival media-----------*/

@media (max-width: 1116px) {
  .survival {
    padding-top: 100px;
  }
}

@media (max-width: 835px) {
  .survival_title {
    font-size: 35px;
    margin-bottom: 30px;
  }
  .survival_txt {
    font-size: 12px;
    margin-bottom: 30px;
  }
  .survival {
    height: 400px;
    padding-top: 100px;
    background-size: cover;
  }
}

@media (max-width: 610px) {
  .survival {
    height: 400px;
    padding-top: 100px;
    background-size: cover;
  }
  .survival_button {
    padding: 4px 13px;
  }
}

/*----------articles----------*/
.articles {
  background-color: #cccccc;
  padding-top: 120px;
  padding-bottom: 40px;
}

.articles_container {
}

.articles_title {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 72px;
  color: var(--darck-grey-color);
  margin-bottom: 20px;
  text-align: center;
}

.articles_subtitle {
}

.subtitle {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: var(--light-gray-color);
  margin-bottom: 120px;
  text-align: center;
}

.slider {
}

.articles_list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.articles_item {
}

.articles_link {
  position: relative;
}
.link {
}

.articles_content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  padding: 245px 20px 40px 20px;
}

.articles_name {
  font-size: 22px;
  line-height: 36px;
  text-align: center;
  margin-bottom: 10px;
  color: var(--light-color);
}

.articles_txt {
  font-size: 17px;
  line-height: 27px;
  text-align: center;
  margin-bottom: 10px;
  color: var(--light-color);
}

/*----------articles media----------*/

@media (max-width: 835px) {
  .subtitle {
    font-size: 14px;
    margin-bottom: 50px;
  }
  .articles_title {
    font-size: 30px;
    margin-bottom: 5px;
    line-height: 22px;
  }
  .articles {
    padding-top: 60px;
  }
}

@media (max-width: 535px) {
  .articles_link img {
    width: 200px;
    height: 260px;
  }
  .articles_content {
    padding: 145px 20px 40px 20px;
  }
}

@media (max-width: 335px) {
  .articles_link img {
    height: 260px;
  }
  .articles_list .slick-arrow {
    width: 17px;
    height: 30px;
  }
  .articles_content {
    display: none;
  }
}

/*---------slick slider-----------*/
/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}
/* Лента слайдов */
.slick-track {
  display: flex;
}
.articles_list {
  position: relative;
  padding: 0 62px;
}
/* Стрелка */
.articles_list .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 3;
  width: 27px;
  height: 40px;
  margin-top: -20px;
}
/* Стрелка влево */
.articles_list .slick-arrow.slick-prev {
  left: 0;
  font-size: 0;
  background: url("./assets/left.svg") 0 0 / 100% no-repeat;
}
/* Стрелка вправо */
.articles_list .slick-arrow.slick-next {
  right: 0;
  font-size: 0;
  background: url("./assets/right.svg") 0 0 / 100% no-repeat;
}

/*-------notificate-------------*/
.notificate {
  background-color: var(--secondary-background-color);
}
.notificate_container {
  padding-top: 200px;
  padding-bottom: 239px;
}
.notificate_title {
  display: none;
}
.notificate_subtitle {
  font-size: 27px;
  line-height: 40px;
  color: var(--darck-grey-color);
  margin-bottom: 59px;
}
input {
  font-family: "Roboto", sans-serif;
  font-size: 23px;
  line-height: 27px;
  color: var(--light-gray-color);
  cursor: pointer;
  border-radius: 5px 0 0 5px;
  height: 60px;
  width: 560px;
  background-color: initial;
  border: solid #666666 1px;
  border-right: none;
  padding-left: 15px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.notificate_button {
  background-color: var(--primary-color);
  border-radius: 0 5px 5px 0;
  height: 60px;
  width: 120px;
  margin-left: -5px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.notificate_button:hover {
  background-color: var(--hover-orange-color);
}

input:hover,
input:focus {
  border: solid var(--darck-grey-color) 1px;
  background-color: var(--light-color);
}

form {
  display: flex;
  justify-content: center;
}

/*-------notificate media-------------*/

@media (max-width: 800px) {
  input {
    max-width: 360px;
  }
  .notificate_container {
    padding-top: 150px;
    padding-bottom: 119px;
  }
}

@media (max-width: 535px) {
  input {
    max-width: 260px;
  }
  .notificate_subtitle {
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 25px;
  }
  .notificate_container {
    padding-top: 70px;
    padding-bottom: 130px;
  }
}

@media (max-width: 479px) {
  input {
    max-width: 220px;
  }
  input::placeholder {
    font-size: 12px;
    line-height: 15px;
  }
}

/*--------footer------------*/

.footer {
  background-color: #181617;
  height: 360px;
  background: url(./assets/footer_bg.jpg) no-repeat center top;
  background-size: cover;
}

.footer_container {
  display: flex;
  flex-wrap: wrap;
  padding-top: 150px;
  align-items: center;
  justify-content: space-around;
}

.footer_logo_wrapper {
}
.footer_logo {
}
.footer_navigation {
}

.footer_navigation_list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer_navigation_item {
}

.footer_navigation_item:not(:last-child) {
  margin-right: 85px;
}

.footer_navigation_item a {
  color: var(--light-color);
  font-size: 23px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    text-decoration 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer_navigation_item a:hover {
  text-decoration: underline;
  color: var(--primary-color);
}

.footer_socials {
}

.footer_socials_list {
  display: flex;
  flex-wrap: wrap;
}

.footer_socials_item:not(:last-child) {
  margin-right: 27px;
}

.footer_socials_item {
  width: 40px;
  height: 40px;
  color: var(--light-color);
}

.footer_socials_link {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 50%;
  background-color: var(--light-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.socials_link {
}

.soscial_icon {
  width: 25px;
  height: 25px;
  fill: #134731;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials_link:hover .soscial_icon {
  fill: #ffffff;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials_link:hover {
  background-color: var(--primary-color);
}

/*--------footer media------------*/

@media (max-width: 970px) {
  .footer_navigation_item {
    margin-bottom: 20px;
  }
  .footer_logo {
    margin-bottom: 50px;
  }
  .footer_container {
    padding-top: 90px;
  }
  .footer_navigation_list {
    margin-bottom: 40px;
  }
}

@media (max-width: 479px) {
  .footer_navigation_item:not(:last-child) {
    margin-right: 0;
  }
  .footer_navigation_item a {
    font-size: 12px;
    text-align: left;
  }
  .footer_navigation_item {
    margin-bottom: 20px;
  }
  .footer_logo {
    margin-bottom: 50px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .footer_container {
    padding-top: 90px;
  }
  .footer_navigation_list {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    margin-left: 20px;
    margin-right: 20px;
  }
}

/*--------modal window------------*/

.backdrop {
  position: fixed;
  z-index: 5;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  width: 400px;
  min-height: 500px;
  border-radius: 5px;
  background-color: var(--light-color);
  position: relative;
  padding: 50px 50px 20px 50px;

  transform: translateY(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: translateY(100%);
}

.close_btn {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 17px;
  height: 17px;
  cursor: pointer;

  fill: var(--light-gray-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close_btn:hover {
  fill: var(--darck-grey-color);
}
.modal_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.modal_img {
  width: 150px;
  height: 150px;
  margin-bottom: 30px;
}
.modal_subtitle {
  margin-bottom: 20px;
  font-size: 15px;
  line-height: 20px;
  margin-top: 20px;
}
.modal_form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.modal_input {
  width: 280px;
  height: 40px;
  margin-bottom: 10;
  border: 1px solid var(--light-gray-color);
  border-radius: 5px;
  display: block;
  margin-bottom: 20px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal_input:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.modal_input::placeholder {
  font-size: 15px;
}
.modal_btn {
  background-color: var(--primary-color);
  padding-top: 7px;
  padding-bottom: 7px;
  font-size: 20px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal_btn:hover {
  background-color: var(--hover-orange-color);
}
