/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 20px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
  font-style: normal;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
:root {
  --primary-color: #cd6326;
  --light-color: #f7f7f7;
  --darck-grey-color: #333333;
  --light-gray-color: #666666;
  --hover-orange-color: #e39128;
  --primary-background-color: #02160b;
  --secondary-background-color: #cccccc;
  --third-background-color: #181617;
}

body {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.6;
  color: var(--light-color);
  background-color: #2c2d2f;
}
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}
.main {
  flex: 1 1 auto;
}
.header {
  z-index: 2;
}
.header_container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}
.header_logo {
  display: flex;
}
.header_logo p:hover {
  color: var(--primary-color);
  text-decoration: underline;
}
.logo_img {
  margin-right: 16px;
}
.logo_txt {
  font-family: "Roboto", sans-serif;
  color: var(--light-color);
  text-transform: uppercase;
  font-size: 32px;
  line-height: 60px;
}
.header_navigation {
}
.header_navigation_list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header_navigation_item {
  cursor: pointer;
}
.icon:hover {
  fill: var(--primary-color);
}
.header_navigation_item a:hover {
  text-decoration: underline;
  color: var(--primary-color);
}
.header_navigation_item a {
  color: var(--light-color);
  font-size: 23px;
}
.header_navigation_item:not(:last-child) {
  margin-right: 65px;
}
.header_button {
  padding: 12px 23px;
  border: 2px solid var(--primary-color);

  background-color: initial;
}
.header_button:hover {
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
}
.button {
  font-family: "Roboto", sans-serif;
  font-size: 23px;
  line-height: 27px;
  color: var(--light-color);
  cursor: pointer;
  border-radius: 5px;
}
@media (max-width: 767.98px) {
  .header_navigation_item:not(:last-child) {
    margin-right: 25px;
  }
  .logo_txt {
    font-size: 23px;
  }
}
@media (max-width: 610px) {
  .logo_txt {
    display: none;
  }
}
@media (max-width: 479px) {
  .header_navigation_item:not(:last-child) {
    margin-right: 15px;
  }
  .header_navigation_list {
    flex-wrap: wrap;
  }
  .header_navigation_item a {
    font-size: 12px;
  }
  .button {
    font-size: 12px;
  }
  .header_button {
    padding: 4px 13px;
  }

  .header_logo {
    display: flex;
    height: 40px;
  }
}
/*--------------------*/
.survival {
  background: url(./assets/herobg.jpg) no-repeat center top;
  background-size: contain;
  height: 780px;
  margin-top: -80px;
  padding-top: 200px;
}
.survival_container {
  display: flex;
  flex-direction: column;
}
.survival_title {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 72px;
  letter-spacing: 2px;
  color: var(--primary-color);
  margin-bottom: 50px;
}
.survival_txt {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: var(--light-color);
  max-width: 274px;
  margin-bottom: 50px;
}
.survival_button {
  background-color: var(--primary-color);
  padding: 16px 42px;
  max-width: 160px;
}
.survival_button:hover {
  background-color: var(--hover-orange-color);
}
@media (max-width: 1116px) {
  .survival {
    padding-top: 100px;
  }
}
@media (max-width: 835px) {
  .survival_title {
    font-size: 35px;
    margin-bottom: 30px;
  }
  .survival_txt {
    font-size: 12px;
    margin-bottom: 30px;
  }
  .survival {
    height: 400px;
    padding-top: 100px;
    background-size: cover;
  }
}
@media (max-width: 610px) {
  .survival {
    height: 400px;
    padding-top: 100px;
    background-size: cover;
  }
  .survival_button {
    padding: 4px 13px;
  }
}
/*--------------------*/
.articles {
}
/*--------------------*/
.notificate {
}
.Footer {
}
